/* 2 Coloumns */
.app-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 30px;
  font-family: Arial, sans-serif;
   background: #f7f6f6;                
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* Left Side */
.left-panel {
  flex: 1.2;
  max-width: 45%;
  padding: 30px 20px;
  border-right: 2px solid #ffffff;
 
}

.left-panel h2 {
  margin-bottom: 15px;
  color: #222;
}

/* Right Side */
.right-panel {
  flex: 2;
  padding: 30px 20px;
}

.right-panel h2 {
  margin-bottom: 20px;
  color: #222;
}

/* Task form */
.task-form {
  display: flex;
  flex-direction: column;
  gap: 18px; 
  padding: 20px;
  min-height: 350px; 
  justify-content: flex-start;
  position: relative;
  max-width: 400px;
}

.task-form input,
.task-form textarea {
  width: 100%;
  max-width: 380px; 
  padding: 14px 16px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.task-form input:focus,
.task-form textarea:focus {
  border-color: #0077ff;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.15);
}

.task-form textarea {
  min-height: 120px; 
  resize: vertical;
}

.task-form button {
  position: absolute;
  right: 20px;   
  bottom: 12px;  
  background: #0077ff;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;

}

.task-form button:hover {
  background: #005fcc;
  transform: translateY(-1px);
}

.task-form button:active {
  transform: translateY(0);
}

/* Task list */
.task-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task-item {
  background: #ede7e7;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.task-item h3 {
  margin: 0 0 8px;
}

.task-item p {
  margin: 0 0 12px;
  color: #555;
}

.task-item button {
  background: #28a745;
  border: none;
  color: #fff;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.task-item button:hover {
  background: #218838;
}